


#navbar{
    flex-direction: column;
}

#showcase .showcase-content h1{

    margin-top: -1rem;
}

#about{
    flex-direction: column;
}

#about img{
    width:100vw;
}

#services{
    flex-direction: column;
}
       
       

    
